@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  display: flex;
}

#engine-debug {
  font-size: 10px;
  min-width: 400px;
}

#engine-debug .overflow-auto {
  scrollbar-width: thin;
}
#engine-debug .overflow-scroll {
  scrollbar-width: thin;
}
#engine-debug .overflow-x-auto {
  scrollbar-width: thin;
}
#engine-debug .overflow-y-auto {
  scrollbar-width: thin;
}
#engine-debug .overflow-x-scroll {
  scrollbar-width: thin;
}
#engine-debug .overflow-y-scroll {
  scrollbar-width: thin;
}

#engine-game {
  flex: 1;
}
