@tailwind base;

@tailwind components;

@tailwind utilities;

#debug {
  font-size: 10px;
}

#debug .overflow-auto {
  scrollbar-width: thin;
}
#debug .overflow-scroll {
  scrollbar-width: thin;
}
#debug .overflow-x-auto {
  scrollbar-width: thin;
}
#debug .overflow-y-auto {
  scrollbar-width: thin;
}
#debug .overflow-x-scroll {
  scrollbar-width: thin;
}
#debug .overflow-y-scroll {
  scrollbar-width: thin;
}
